<html lang="en">
    <head>
      
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
      <title>Vue.js + Django</title>
      <script src="https://unpkg.com/vue"></script>
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="products">
          <ul>
            <li v-for="product in products"><a :href="[[product.link]]">商品名: [[product.product_name]]</a> 価格: [[product.price]]</li>
          </ul>
          <v-checkbox
          v-model="a"
          label="あ"
          color="red"
        ></v-checkbox>
        </div>
    </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>

var vm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#products',
  vuetify: new Vuetify(),
  data: {
    a:"",
    products: []
  },
  mounted: function() {
    {% for product in product_list %}
    this.products.push({
      productID:{{product.pk}},
      product_name:"{{product.product_name}}",
      price:{{product.price}},
      link:"{% url 'front:detail' product.pk %}",
    })
    {% endfor %}


    console.log(this.products);
  },
  methods: {
    changeStatus: function(item) {
      item.done = !item.done;
    }
  }
})



</script>
