{% extends 'base.html' %}
{% block content %}

              <table>
                <thead>
                  <tr>
                    <td>商品名</td>
                    <td>価格</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="product in products">
                    <td>
                      <v-text-field v-model="product.product_name"></v-text-field>
                    </td>
                    <td>
                      <v-text-field v-model="product.price"></v-text-field>
                    </td>
                  </tr>
                </tbody>
              </table>
              <v-btn 
              depressed   
              color="primary"
              @click="postProducts"
              >保存
            </v-btn>
            <v-snackbar
            v-model="snackbar"
            :timeout="timeout"
            color="success"
          >
            保存に成功しました
          </v-snackbar>
{% endblock %}

{% block script %}
<script>

var vm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#products',
  vuetify: new Vuetify(),
  data: {
    a:"",
    b:"",
    c:"",
    timeout:1000,
    products: [],
    snackbar:false,
  },
  mounted: function() {
    this.getProducts();
   
    /*{% for product in product_list %}
    this.products.push({
      productID:{{product.pk}},
      product_name:"{{product.product_name}}",
      price:{{product.price}},
      link:"{% url 'front:detail' product.pk %}",
    })
    {% endfor %}*/

    //console.log(this.products);
  },
  methods: {
    getProducts:function(){
      axios.get('{% url "shopping:product_list" %}')
    .then(response => {
      this.products = [];
      this.products =response.data;
    })
    .catch(response => console.log(response))

    },
    postProducts: function() {
      csrftoken = Cookies.get('csrftoken');
      headers = {'X-CSRFToken': csrftoken};

      axios.post('{% url "shopping:product_post" %}',{"products":this.products},{headers: headers})
      .then(response => {
        if(response.data.result){
          this.snackbar = true;
          this.getProducts();
        }else{

        }
        console.log(response.data);
      })
      .catch(response => console.log(response))


  }
  }
})



</script>

{% endblock %}
