{% extends 'base.html' %}
{% block content %}


<table>
  <tr v-for="product in products">
    <td> <input type="text" v-model="product.product_name"></td>
  </tr>
</table>

{% endblock %}

{% block script %}
<script>

var vm = new Vue({
  delimiters: ['[[', ']]'],
  el: '#products',
  vuetify: new Vuetify(),
  data: {
    a:"",
    b:"",
    c:"",
    timeout:1000,
    products: [],
    snackbar:false,
  },
  mounted: function() {
    this.getData();

  },
  methods: {
    getData:function(){
        csrftoken = Cookies.get('csrftoken');
        headers = {'X-CSRFToken': csrftoken};

        axios.post('{% url "product_lists:get_product" %}',{},{headers: headers})
    .then(response => {
        console.log(response.data)
      this.products = [];
      this.products =response.data;
    })
    .catch(response => console.log(response))

    },
    postProducts: function() {



  }
  }
})

</script>

{% endblock %}
